---
import type { IconType } from "@/utils/helper";
import TitleCard from "./shared/TitleCard.astro";
import {
  MessagesSquare,
  Mail,
  Github,
  Linkedin,
  Instagram,
  Copyright,
} from "lucide-react";
import { Button } from "./ui/button";
import colors from "tailwindcss/colors";

const indexColorCopyright = 400;
const colorCopyright = "gray";
const grayCopyright = colors[colorCopyright][indexColorCopyright];

const socials: { label: string; link: string; icon: IconType }[] = [
  {
    icon: Mail,
    label: "Let's Talk",
    link: "",
  },
  {
    icon: Github,
    label: "jeffsabarman",
    link: "",
  },
  {
    icon: Linkedin,
    label: "jeffrey-sabarman",
    link: "",
  },
  // {
  //   icon: Instagram,
  //   label: "jeffsabarman",
  //   link: "",
  // },
];
---

<div class="flex flex-col justify-between h-full">
  <div>
    <TitleCard
      Icon={MessagesSquare}
      title="Socials"
      subtitle="Connect with Me"
    />
  </div>
  <!-- <div class="flex flex-col justify-between h-full pb-4"> -->
  <div class="flex flex-col gap-6">
    {
      socials?.map((social) => {
        const Icon = social.icon;
        return (
          <a href={social?.link} target="_blank">
            <div class="rounded-sm bg-[#2E2D2D] hover:bg-primary p-4">
              <div class="flex gap-4 items-center">
                <div class="">
                  <Icon color="white" size={20} />
                </div>
                <p>{social?.label}</p>
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
  <div class="flex gap-1">
    <div class="flex items-center">
      <Copyright color={grayCopyright} size="16" />
    </div>
    <p class={`text-${colorCopyright}-${indexColorCopyright}`}>
      {new Date().getFullYear()} jeffsabarman
    </p>
  </div>
</div>
